###########################################
## Added to .gitignore

# Solution build directory
/bin


# Lazy method of hiding work-in-progress or local-only files with common extensions
_wip/
_unused/


###########################################
## Visual Studio IDE

/.vs
*.vcxproj.filters
*.vcxproj.user
*.aps
*.pdb


###########################################
## Original .gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


###########################################
## Explicit includes

# Nothing in here
/lib/unused/**

# Everything in here (d3drm.lib, d3drm.def, inc/*)
!/lib/d3drm/*.def
!/lib/d3drm/*.lib
